<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello, <%= @user.username %></h1>
<p>
  To login without a password, just follow this link: <%= @url %>.
</p>
<p>Have a great day!</p>
</body>
</html>
